<%= form_with(model: tool, local: true) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomor_serial %>
    <%= form.text_field :nomor_serial %>
  </div>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :kategori %>
    <%= form.text_field :kategori %>
  </div>

  <div class="field">
    <%= form.label :sifat %>
    <%= form.text_field :sifat %>
  </div>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.text_field :vendor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
