
<div class="">  
  <div class="card">
    <div class="card-header" style="background-color: none">
     <h4>List Master</h4>
    </div>
    <div class="card-body mt-0">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-sm-4">
          <%= form_tag master_index_path, method: "GET" %>
          <%= select_tag :pilihan, options_for_select(["Data Satuan Kerja","Data Karyawan","Data Software","Data Alat","Vendor","Data Role","Data User"], params[:pilihan]), prompt: "-- Pilih Data --", class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-info">Pilih</button>
      </div>
    </div>
    </div>
  </div>

  <div class="card">
  <% if params[:pilihan].present? %>
    <% if flash[:alert] == "success updated" %>
      <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
          <button class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
          Updated has successfull.
        </div>
      </div>
    <% end %>
    <% if flash[:alert] == "success created" %>
      <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
          <button class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
          Created has successfull
        </div>
      </div>
    <% end %>
    <% if flash[:alert] == "success destroyed" %>
      <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
          <button class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
          Deleted has successfull
        </div>
      </div>
    <% end %>
    <% if params[:pilihan] == "Data Role" %>
      <div class="card-header mt-2">
        <h4>Data Role</h4>
        <div class="card-header-form">
         
            <div class="align-items-center">
              <%= link_to "+ Data Role", new_role_path, class: "btn btn-primary btn-sm" %>
            </div>
          
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable_role" width="100%" cellspacing="0" id="table-1">
            <thead>
              <tr>
                <th style="width: 50px;" class="text-center">No</th>
                <th>Nama Role</th>
                <th style="width: 150px;" class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @roles.each_with_index do |type_worker, index| %>
              <tr>
                <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                <td><%= type_worker.name %></td>
                <td style="width: 150px;" class="text-center">
                  
                  <a href="<%= edit_role_path(type_worker) %>" class="btn btn-warning btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <% if current_user.can? { |permissions| permissions.role.destroy? } %>
                  <a href="<%= role_path(type_worker) %>" class="btn btn-danger btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <% if params[:pilihan] == "Data User" %>
      <div class="card-header mt-2">
        <h4>Data User</h4>
        <div class="card-header-form">
            
            <div class="align-items-center">
                 <%= link_to "+Data User", new_user_path, class: "btn btn-primary btn-sm" %>
            </div>
        </div>
      </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable_user" width="100%" cellspacing="0" id="table-1">
              <thead>
                <tr>
                  <th class="text-center" style="width: 20px;">No</th>
                  <th>Nama</th>
                  <th>Jabatan</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Status</td>
                  <th class="text-center" style="width: 100px;">Action</th>
                </tr>
              </thead>
              <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= user.name %></td>
                  <td><%= user.username %></td>
                  <td><%= user.name %></td>
                  <td><%= user.role_assignments.each_with_index.map {|role_assignment| "#{role_assignment.role.try(:name)}"}.join(", ") %></td>
                  <% if user.state %>
                    <td>Aktif</td>
                  <% else %>
                    <td>Tidak Aktif</td>
                  <% end %>
                  <td style="width: 150px;" class="text-center">
                    
                      <a href="<%= edit_user_path(user) %>" class="btn btn-warning btn-circle btn-sm">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <%= link_to user_path(user), method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                  
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

    <% end %>

    <% if params[:pilihan] == "Data Karyawan" %>
      <div class="modal fade" id="karyawan" tabindex="-1" role="dialog" aria-labelledby="formModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModal"></h5>
              <button type="button" class="close" id="close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="id_karyawan">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Id Pegawai</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="id_pegawai">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Tempat Lahir</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="tempat_lahir">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nama</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="nama_pegawai">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Tanggal Lahir</label>
                      <div class="input-group">
                        <input type="date" class="form-control" id="tanggal_lahir">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Alamat</label>
                      <div class="input-group">
                        <textarea class="form-control" id="alamat"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>No Telepon</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="nomor_telepon">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Id Identitas</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="id_identitas">
                      </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                      <label>Email</label>
                      <div class="input-group">
                        <input type="email" class="form-control" id="email">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Jabatan</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="jabatan">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Satuan Kerja</label>
                      <div class="input-group">
                        <select class="form-control" id="satker"></select>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="simpanKaryawan">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="notification"></div>

      <div class="card-header mt-2">
        <h4>Data Karyawan</h4>
        <div class="card-header-form">
              <%# if current_user.can? { |permissions| permissions.category.create? } %>
            <div class="align-items-center">
              <%# <%= link_to "+ Data Kategori", new_employee_path, class: "btn btn-primary btn-sm" %>
              <button type="button" class="btn btn-primary btn-sm tambah-karyawan" data-backdrop="true" data-toggle="modal" data-target="#karyawan">+Tambah</button>
            </div>
          <%# end %>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable_kategori" width="100%" cellspacing="0" id="table-1">
            <thead>
              <tr>
                <th style="width: 50px;" class="text-center">No</th>
                <th>Nama Pegawai</th>
                <th>Nomor Telepon</th>
                <th>Jabatan</th>
                <th>Satuan Kerja</th>
                <th style="width: 150px;" class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each_with_index do |employee, index| %>
              <tr>
                <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                <td><%= employee.nama %></td>
                <td><%= employee.nomor_telepon %></td>
                <td><%= employee.jabatan %></td>
                <td><%= employee.work_unit.nama %></td>
                <td style="width: 150px;" class="text-center">
                  <%# if current_user.can? { |permissions| permissions.category.update? } %>
                  <a href="#" class="btn btn-warning btn-circle btn-sm" id="ubahKaryawan" data-toggle="modal" data-target="#karyawan" data-id="<%= employee.id %>">
                      <i class="fas fa-pencil-alt"></i>
                  </a>
                  <%# end %>
                  <%# if current_user.can? { |permissions| permissions.category.destroy? } %>
                  <a href="#" class="btn btn-danger btn-circle btn-sm" id="hapusKaryawan" data-id="<%= employee.id %>" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                  </a>
                  <%# end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <% if params[:pilihan] == "Data Satuan Kerja" %>
      <div class="modal fade" id="satker" tabindex="-1" role="dialog" aria-labelledby="formModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModal"></h5>
              <button type="button" class="close" id="close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="id_satker">
                <div class="form-group">
                  <label>Nama</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="nama_satker">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="simpanSatker">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header mt-2">
        <h4>Data Satuan Kerja</h4>
        <div class="card-header-form">
              <%# if current_user.can? { |permissions| permissions.category.create? } %>
            <div class="align-items-center">
              <%# <%= link_to "+ Data Kategori", new_employee_path, class: "btn btn-primary btn-sm" %>
              <button type="button" class="btn btn-primary btn-sm tambah-satker" data-backdrop="true" data-toggle="modal" data-target="#satker">+Tambah</button>
            </div>
          <%# end %>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable_kategori" width="100%" cellspacing="0" id="table-1">
            <thead>
              <tr>
                <th style="width: 50px;" class="text-center">No</th>
                <th>Nama</th>
                <th style="width: 150px;" class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @work_units.each_with_index do |work_unit, index| %>
              <tr>
                <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                <td><%= work_unit.nama %></td>
                <td style="width: 150px;" class="text-center">
                  <%# if current_user.can? { |permissions| permissions.category.update? } %>
                  <a href="#" class="btn btn-warning btn-circle btn-sm" id="ubahSatker" data-toggle="modal" data-target="#satker" data-id="<%= work_unit.id %>">
                      <i class="fas fa-pencil-alt"></i>
                  </a>
                  <%# end %>
                  <%# if current_user.can? { |permissions| permissions.category.destroy? } %>
                  <a href="<%= work_unit_path(work_unit) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                  </a>
                  <%# end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <% if params[:pilihan] == "Data Software" %>
        <div class="modal fade" id="software" tabindex="-1" role="dialog" aria-labelledby="formModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal"></h5>
                <button type="button" class="close" id="close-modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <input type="hidden" id="id_software">
                  <div class="form-group">
                    <label>Nama</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="nama_software">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Nomor Serial</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="nomor_serial">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Kategori</label>
                    <div class="input-group">
                      <textarea class="form-control" id="kategori"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>License By</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="license_by">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Expired Date</label>
                    <div class="input-group">
                      <input type="date" class="form-control" id="expired_date">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Vendor</label>
                    <div class="input-group">
                      <select id="vendor" class="form-control"></select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="simpanSoftware">Simpan</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header mt-2">
          <h4>Data Software</h4>
          <div class="card-header-form">
               <%# if current_user.can? { |permissions| permissions.work_unit.create? } %>
              <div class="align-items-center">
                <%# <%= link_to "+ Data Software", new_software_path, class: "btn btn-primary btn-sm" %>
                <button type="button" class="btn btn-primary btn-sm tambah-software" data-backdrop="true" data-toggle="modal" data-target="#software">+Tambah</button>
              </div>
            <%# end %>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-bordered" id="dataTable_sub_kategori" width="100%" cellspacing="0" id="table-1">
              <thead>
                <tr>
                  <th style="width: 50px;" class="text-center">No</th>
                  <th>Nama</th>
                  <th>License By</th>
                  <th>Expired Date</th>
                  <th>Kategori</th>
                  <th style="width: 150px;" class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% @softwares.each_with_index do |software, index| %>
                <tr>
                  <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                  <td><%= software.nama %></td>
                  <td><%= software.license_by %></td>
                  <td><%= software.expired_date %></td>
                  <td><%= software.kategori %></td>
                  <td style="width: 150px;" class="text-center">
                    <%# if current_user.can? { |permissions| permissions.work_unit.update? } %>
                    <a href="#" class="btn btn-warning btn-circle btn-sm" id="ubahSoftware" data-toggle="modal" data-target="#software" data-id="<%= software.id %>">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <%# end %>
                    <%# if current_user.can? { |permissions| permissions.work_unit.destroy? } %>
                    <a href="<%= software_path(software) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <%# end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    <% end %>
    <% if params[:pilihan] == "Data Alat" %>
      <div class="modal fade" id="alat" tabindex="-1" role="dialog" aria-labelledby="formModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModal"></h5>
              <button type="button" class="close" id="close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="id_alat">
                <div class="form-group">
                  <label>Nama</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nama" id="nama_alat">
                  </div>
                </div>
                <div class="form-group">
                  <label>Nomor Serial</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nama" id="nomor_serial">
                  </div>
                </div>
                <div class="form-group">
                  <label>Kategori</label>
                  <div class="input-group">
                    <textarea class="form-control" id="kategori"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label>Sifat</label>
                  <div class="input-group">
                    <select id="sifat" class="form-control"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Vendor</label>
                  <div class="input-group">
                    <select id="vendor" class="form-control"></select>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="simpanAlat">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header mt-2">
        <h4>Data Alat</h4>
        <div class="card-header-form">
              <%# if current_user.can? { |permissions| permissions.work_unit.create? } %>
            <div class="align-items-center">
              <%# <%= link_to "+ Data Alat", new_tool_path, class: "btn btn-primary btn-sm" %>
              <button type="button" class="btn btn-primary btn-sm tambah-alat" data-backdrop="true" data-toggle="modal" data-target="#alat">+Tambah</button>
            </div>
          <%# end %>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable_area" width="100%" cellspacing="0" id="table-1">
            <thead>
              <tr>
                <th style="width: 50px;" class="text-center">No</th>
                <th>Nomor Serial</th>
                <th>Nama</th>
                <th>Kategori</th>
                <th style="width: 150px;" class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @tools.each_with_index do |tool, index| %>
              <tr>
                <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                <td><%= tool.nomor_serial %></td>
                <td><%= tool.nama %></td>
                <td><%= tool.kategori %></td>
                <td style="width: 150px;" class="text-center">
                  <%# if current_user.can? { |permissions| permissions.work_unit.update? } %>
                  <a href="#" class="btn btn-warning btn-circle btn-sm" id="ubahAlat" data-toggle="modal" data-target="#alat" data-id="<%= tool.id %>">
                      <i class="fas fa-pencil-alt"></i>
                  </a>
                  <%# end %>
                  <%# if current_user.can? { |permissions| permissions.work_unit.destroy? } %>
                  <a href="#" class="btn btn-danger btn-circle btn-sm" id="hapusAlat" data-id="<%= tool.id %>" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                  </a>
                  <%# end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if params[:pilihan] == "Vendor" %>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal"></h5>
                <button type="button" class="close" id="close-modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <input type="hidden" id="id_vendor">
                  <div class="form-group">
                    <label>Nama</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Nama" id="nama_vendor">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Alamat</label>
                    <div class="input-group">
                      <textarea class="form-control" id="alamat"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Kategori</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Kategori" id="kategori">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="simpanVendor">Simpan</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header mt-2">
          <h4>Data Vendor</h4>
          <div class="card-header-form">
               <%# if current_user.can? { |permissions| permissions.work_unit.create? } %>
              <div class="align-items-center">
                <button type="button" class="btn btn-primary btn-sm tambah-vendor" data-backdrop="true" data-toggle="modal" data-target="#exampleModal">+Tambah</button>
              </div>
            <%# end %>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-bordered" id="dataTable_material" width="100%" cellspacing="0" id="table-1">
              <thead>
                <tr>
                  <th style="width: 50px;" class="text-center">No</th>
                  <th>Nama</th>
                  <th style="width: 150px;" class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% @vendors.each_with_index do |vendor, index| %>
                <tr>
                  <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                  <td><%= vendor.nama %></td>
                  <td style="width: 150px;" class="text-center">
                    <%# if current_user.can? { |permissions| permissions.work_unit.update? } %>
                    <a href="#" class="btn btn-warning btn-circle btn-sm" id="ubahVendor" data-toggle="modal" data-target="#exampleModal" data-id="<%= vendor.id %>">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <%# end %>
                    <%# if current_user.can? { |permissions| permissions.work_unit.destroy? } %>
                    <a href="<%= vendor_path(vendor) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <%# end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    <% end %>
  <% end %>
  </div>

</div>

<%= render "js_vendor" %>
<%= render "js_alat" %>
<%= render "js_software" %>
<%= render "js_satker" %>
<%= render "js_karyawan" %>