<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :software_id %>
    <%= form.text_field :software_id %>
  </div>

  <div class="field">
    <%= form.label :tool_id %>
    <%= form.text_field :tool_id %>
  </div>

  <div class="field">
    <%= form.label :jumlah %>
    <%= form.text_field :jumlah %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
