<p id="notice"><%= notice %></p>

<p>
  <strong>Software:</strong>
  <%= @stock.software %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @stock.tool %>
</p>

<p>
  <strong>Jumlah:</strong>
  <%= @stock.jumlah %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stock.status %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
