<div class="container-fluid">
  <h1 class="h2 font-weight-bolder text-primary text-center">Form User</h1>
  <hr>
  <div class="row" style="justify-content: center;" >
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <label>Sumber Data</label>
              <%= f.text_field :user_type, class: 'dtSource form-control', readonly: true %>
            </div>
            <div class="form-group manual ldap">
              <label>Nama</label>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group manual">
              <label>Username</label>
              <%= f.text_field :username, class: 'form-control' %>
            </div>
            <div class="form-group manual">
              <label>Email</label>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group manual">
              <label>Password</label>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group manual ldap">
              <label>Role</label>
              <%= f.collection_select :role_ids, Role.all(), :id, :name, {}, class: 'form-control', multiple: true, id: "select_role" %>
            </div>
            <div class="form-group manual ldap">
              <label class="checkbox c-checkbox c-checkbox-rounded">
                <%= f.check_box :state, type: 'checkbox' %>
                Set Aktif
            </label>
            </div>
            <div class="form-group">
             <a href="<%= users_path %>" class="btn btn-light">Cancel</a>
            <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<script>
  $(document).ready(function () {

    if ($(".dtSource").val() == "Manual") {
      $('.ldap').hide();
      $('.manual').show();
    } else if ($(".dtSource").val() == "LDAP") {
      $('.manual').hide();
      $('.ldap').show();
    } else {
      $('.ldap').hide();
      $('.manual').hide();
    }
  });

  $('#user_ldap').select2();
  $('#select_role').select2();

</script>