<div class="card">
    <div class="card-header" style="background-color: none">
     <h4><%= @loan.id ? "Edit" : "Tambah"%> Peminjaman</h4>
    </div>
    <div class="card-body mt-0">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-sm-12">
          <%= form_with(model: loan, local: true) do |form| %>
            <% if loan.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

                <ul>
                <% loan.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :user_id %>
                 <input type="text" class="form-control" value="<%= current_user.username %>" readonly>
                 <input type="hidden" name="loan[user_id]" class="form-control" value="<%= current_user.id %>" readonly>
                </div>
                <div class="form-group">
                  <%= form.label :software_id %>
                  <select name="loan[software_id]" id="software_id" class="form-control">
                    <option value="" selected>--Pilih--</option>
                    <% @softwares.each do |software| %>
                      <% if @loan.id.nil? %>
                        <option value="<%= software.id %>"><%= software.nama %></option>
                      <% else %>
                        <% if @loan.software_id == software.id %>
                          <option value="<%= software.id %>" selected><%= software.nama %></option>
                        <% else %>
                          <option value="<%= software.id %>"><%= software.nama %></option>
                        <% end %>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :tool_id %>
                  <select name="loan[tool_id]" id="tool_id" class="form-control">
                    <option value="">--Pilih--</option>
                    <% @tools.each do |tool| %>
                      <% if @loan.id.nil? %>
                        <option value="<%= tool.id %>"><%= tool.nama %></option>
                      <% else %>
                        <% if @loan.tool_id == tool.id %>
                          <option value="<%= tool.id %>" selected><%= tool.nama %></option>
                        <% else %>
                          <option value="<%= tool.id %>"><%= tool.nama %></option>
                        <% end %>
                      <% end %>
                    <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <%= form.label :jumlah %>
                  <input type="number" class="form-control" id="jumlah" name="loan[jumlah]" value="<%= @loan.id ? @loan.jumlah : "" %>">
                  <i class="notification_stock text-danger"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :from_date %>
                    <input type="date" class="form-control" name="loan[from_date]" value="<%= @loan.id ? @loan.from_date : "" %>">
                </div>
                <div class="form-group">
                  <%= form.label :deskripsi %>
                  <textarea class="form-control" name="loan[deskripsi]"><%= @loan.id ? @loan.deskripsi : "" %></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :to_date %>
                  <input type="date" class="form-control" name="loan[to_date]" value="<%= @loan.id ? @loan.to_date : "" %>">
                </div>
                <div class="form-group">
                  <%= form.label :penanggung_jawab %>
                  <input type="text" class="form-control" name="loan[penanggung_jawab]" value="<%= @loan.id ? @loan.penanggung_jawab : "" %>">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#software_id').select2();
  $('#tool_id').select2();

  $(document).on('keyup', '#jumlah', function(){
    var jumlah = $(this).val();
    var tool = $('#tool_id').val();
    $.ajax({
        url: "<%= checkStockAlat_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:tool,
                jumlah:jumlah
                },
        success: function(data)
        {
          if (data[0]['status'] == "melebihi") {
            $('.notification_stock').text('Melebihi Batas');
            $('#submit').prop('disabled', true);
          }else{
            $('.notification_stock').text('');
            $('#submit').prop('disabled', false);
          }
        }
    });
  });
</script>


