<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header mt-2">
        <h4>Data User</h4>
        <div class="card-header-form">
          <% if current_user.can? { |permissions| permissions.user.create? } %>
            <div class="align-items-center">
              <%= link_to "+ Peminjaman", new_loan_path, class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable_user" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center" style="width: 20px;">No</th>
              <th>User</th>
              <th>Software</th>
              <th>Tool</th>
              <th>Deskripsi</th>
              <th>Jumlah</th>
              <th>From date</th>
              <th>To date</th>
              <th>Penanggung jawab</th>
              <th>Status</th>
              <th class="text-center" style="width: 100px;">Action</th>
            </tr>
          </thead>
          <tbody>
          <% @loans.each_with_index do |loan, index| %>
            <tr>
              <td class="text-center"><%= index+1 %></td>
              <td><%= loan.user.username %></td>
              <td><%= loan.software.nama %></td>
              <td><%= loan.tool.nama %></td>
              <td><%= loan.deskripsi %></td>
              <td><%= loan.jumlah %></td>
              <td><%= loan.from_date %></td>
              <td><%= loan.to_date %></td>
              <td><%= loan.penanggung_jawab %></td>
              <td><%= loan.status %></td>
              <td style="width: 150px;" class="text-center">
                <% if current_user.can? { |permissions| permissions.loan.update? || permissions.loan.destroy? } %>
                  <a href="<%= edit_loan_path(user) %>" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <%= link_to loan_path(user), method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
              <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $("#dataTable_user").dataTable();
</script>
